*{
    margin: 0;
    padding: 0;
}
body{
  font-family:sans-serif;
}

.nav{
  height: 90px;
  background: #fff; 
  display: flex;
  align-items: center;
  justify-content:space-between; 
 padding-left: 20px;
 padding-right: 20px;
}

.nav-img{
    height: 130px;
    width: 201px;
   top: 25px;
   position: relative;

}
.nav-img2{
    width: 205px;
    height: 60px;
    top: 19px;
}

.btn {
  display: flex;
  align-items: center;
  width: 205px;
  height: 50px;
  border: 2px solid #000E38;
  background: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn__icon {
  width: 60px;
  height: 100%;
  background: linear-gradient(180deg, #000E38, #3F186A);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__text {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #030E3B;
  letter-spacing: 1px;
}
.footer-heading{
  font-size: 18px;
}
.btn.active {
  background: linear-gradient(180deg, #000E38, #3F186A);
}

.btn.active .btn__text {
  color: #fff;
}

.main-bg{
    background: linear-gradient(to right, #000E38 0%, #5A2D91 100%);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
         
}
.main-img{
    height: 520px;
}
.marquee-img{
    height: 190px; 
    position: relative;
    
}
.bg-input{
    background: #2b1d56;
    border-radius: 20px;
    height: 350px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    
}
@media (max-width: 768px) {

  .bg-input{
    height: auto;
    width: 100%;
    padding: 10px;
  }
.main-bg{
  padding: 10px;
}
  .input{
    width: 100%;
    padding: 8px 10px;
  }

  .main-img{
    height: 300px;
    width: 100%;
    object-fit: contain;
  }

  .marquee-img{
    height: 60px;
    width: auto;
    overflow: hidden;
  }

  .text-input{
    width: 100%;
    height: 50px;
  }

  .heading-text{
    position: static;  
    text-align: center;
    color: white;
    margin-bottom: 10px;
  }
}

.input{
   padding: 10px ; 
   width: 250px;
   border-radius:10px;
    background: #1c0d48;
   border: none;
}
.text-input{
    padding: 10px;
   height: 120px;
   width: 250px;
   border-radius:10px;
    background: #1c0d48;
    border: none;
   
   
}
.btn-div{
    position: relative;
    right: 30px;
}
.heading-text{
    position: relative;
    right: 68px;
    color: white;
}
.group-img{
    height: 140px;
}
.group-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media (max-width: 768px) {
  .group-div{
     scrollbar-width: none;
      scroll-behavior: smooth;
      overflow: hidden;
  overflow-x: scroll;
  }
  .group-div::-webkit-scrollbar {
  display: none;
}
}
.scrol-heading{
  display: flex;
  flex-direction: column;
  gap: px;
  padding: 0px 30px;
  
}
.img-group{
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-x: scroll;
   margin-top: 50px;
   gap: 50px;
     scrollbar-width: none;
      scroll-behavior: smooth;
}
.img-group::-webkit-scrollbar {
  display: none;
}

.heading-practic{
  position: relative;
  top: 40px;
  text-align: center;
  
}
.premier-div{
  height: 600px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  overflow: hidden;

}
.play-img{
  height: 90px;
  position: relative;
  bottom: 130px;
  right: 400px;
}
.images-4{
 display: flex;
 justify-content: center;
 gap: 38px;
 margin-top: 40px;
}
.img-4{
  height: 300px;
}
.heading-choose{
  text-align: center;
  margin-top: 50px;
}

.hero {
  display: flex;
  width: 100%;
  margin-top: 80px;
}


.hero-left {
  width: 45%;
  background: #e9d8ff;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tagline {
  color: #7b5ce1;
  font-size: 16px;
  margin-bottom: 12px;
}

.hero-left h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
  color: #1e1e1e;
}

.subtext {
  font-size: 18px;
  color: #5f5f5f;
  margin-bottom: 30px;
}

.btn1 {
  width: fit-content;
  padding: 14px 26px;
  background: #2b1d56;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #3a2a74;
}


.hero-right {
  width: 55%;
  position: relative;
  overflow: hidden;
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-right .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    rgba(233, 216, 255, 0) 60%,
    rgba(233, 216, 255, 0.9)
  );
}


@media (max-width: 1024px) {
  .up-img{
    width: 1024px;
  }
  .down-img{
    width: 1024px;
  }
  .images-4{
    scrollbar-width: none;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-x: scroll;
  }
}
.fram-div{
  display: flex;
  position: relative;
  bottom: 200px;
  align-items: center;
  gap: 10px;
   scrollbar-width: none;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-x: scroll;
  padding: 20px;

}
.fram-div::-webkit-scrollbar {
  display: none;
}
.fram-img{
  height: 300px;
  margin-top: 240px;
  
}
.heading{
  position: relative;
  top: 70px;
  text-align: center;
  color: white;
}
.headinf-div{
   background: linear-gradient( #000E38 0%, #5A2D91 100%);
     height: 600px;
} 
.arro-img{
  text-align: center;
   height: 40px;
   position: relative;
   top: 450px;
}
.arro-div{
  display: flex;
  justify-content: center;
  
}
.footer-div{
   background: linear-gradient( #000E38 0%, #5A2D91 100%);
  padding: 80px;
  
   
}
.footer-div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 40px;
  font-size:medium;
}
.footer-img{
  height: 25px;
}
.footer-para{
  font-size: 14px;
  margin: 2px;
}
.footer-logo-img{
  height: 80px;
}
@media (max-width: 768px) {
  .footer-div{
    font-size:5px;
    gap: 1px;
  }
  .footer-logo-img{
    height: 40px;
  }
  .footer-img{
    height: 20px;
  }
  .footer-heading{
    font-size: 10px;
  }
  .footer-para{
    font-size: 5px;
  }
  .footer-div{
    gap: 40px;
  }
  .div-footer{
    gap: 5px;
    display: flex;
  }
}
.Copyright{
  text-align: center;
  padding: 20px;
}
.div-footer{
  display: flex;
  gap: 15px;
}

@media(max-width: 425px) {
  .footer-div{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .div-footer{
    display: none;
  }
  .hero{
    flex-direction: column-reverse; 
    margin-top: 30px;
  }

  .hero-right{
    width: 100%;
    height: 260px;
  }

  .hero-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .btn{
    display: none;
  }

  .hero-left{
    width: 100%;
    padding: 0px 0px;
    text-align: center;
  }

  .hero-left h1{
    font-size: 0px;
    line-height: 1.3;
  }

  .tagline{
    font-size: 14px;
  }

  .subtext{
    font-size: 14px;
    margin-bottom: 20px;
  }

  .btn{
    margin: 0 auto;
  }
  
}
@media (max-width: 425px) {

  
  .nav {
    height: auto;
    padding: 10px 15px;
  }

  .nav-img {
    height: 70px;
    width: auto;
    top: 0;
    position: static;
  }

  .btn {
    width: 160px;
    height: 42px;
  }

  .btn__icon {
    width: 45px;
  }

  .btn__text {
    font-size: 12px;
  }

  
  .main-bg {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
    gap: 20px;
  }

  .main-img {
    height: 220px;
    width: 100%;
  }

  
  .marquee {
    display: flex;
    gap: 10px;
  }

  .marquee-img {
    height: 60px;
  }

  
  .bg-input {
    width: 80%;
    height: auto;
    padding: 12px;
  }

  .heading-text {
    position: static;
    text-align: center;
    font-size: 18px;
  }

  .input,
  .text-input {
    width: 80%;
    
  }

  .btn-div {
    right: 0;
  }

  
  .group-div {
    gap: 15px;
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 10px;
  }

  .group-img {
    height: 90px;
  }

 
  .heading-practic {
    font-size: 22px;
    top: 20px;
  }

  .img-group {
    gap: 20px;
  }

  .img-group img {
    height: 60px;
  }

 
  .premier-div {
    height: auto;
  }

  .premier-img {
    width: 100%;
  }

  .play-img {
    height: 60px;
    right: 0;
    bottom: 80px;
  }

 
  .images-4 {
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 10px;
  }

  .img-4 {
    height: 180px;
  }

  .heading-choose {
    font-size: 22px;
  }

  
  .hero {
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .hero-right {
    width: 100%;
    height: 220px;
  }

  .hero-right img {
    object-fit: cover;
  }

  .hero-left {
    width: 100%;
    padding: 0px;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 22px;
  }

  .subtext {
    font-size: 14px;
  }

 
  .fram-div {
    bottom: 0;
    margin-top: 20px;
  }

  .fram-img {
    height: 180px;
    margin-top: 0;
  }

  
  .footer-div {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    gap: 20px;
  }

  .footer-logo-img {
    height: 50px;
  }

  .div-footer {
    display: none;
  }

  .footer-heading {
    font-size: 14px;
  }

  .footer-para {
    font-size: 12px;
  }

  .Copyright {
    font-size: 12px;
    padding: 15px;
  }
  .heading{
    padding: 0 4px;
  }
  .fram-div{
    
  }
}
















